{% extends 'default/layout.twig' %}

{% block content %}

    <div class="container">

        <div class="jumbotron">
            <h2>Welcome to SIOFramework</h2>

            <p>Start your fast development with sioforge!</p>
        </div>

    </div>

{% endblock %}