<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SIOFramework</title>

    <meta name="description" content="SIOFramework default layout">
    <meta name="author" content="Iago Oliveira da Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ resources }}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ resources }}/css/font-icons/font-awesome/css/font-awesome.min.css" />
    <style>
        .jumbotron {
            margin-top: 20px;
        }
    </style>
</head>

<body>

    {% block content %}
    {% endblock %}


    <script src="{{ resources }}/js/jquery.min.js"></script>
    <script src="{{ resources }}/js/bootstrap.min.js"></script>
</body>

</html>